<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>test.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jh</servlet-name>
    <servlet-class>test.jh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jh</servlet-name>
    <url-pattern>/jh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shenp1</servlet-name>
    <servlet-class>test.shenp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shenp1</servlet-name>
    <url-pattern>/shenp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>renw</servlet-name>
    <servlet-class>test.renw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renw</servlet-name>
    <url-pattern>/renw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jindt</servlet-name>
    <servlet-class>test.jindt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jindt</servlet-name>
    <url-pattern>/jindt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yijian</servlet-name>
    <servlet-class>test.yijian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yijian</servlet-name>
    <url-pattern>/yijian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>richeng</servlet-name>
    <servlet-class>test.richeng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>richeng</servlet-name>
    <url-pattern>/richeng</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xiug</servlet-name>
    <servlet-class>test.xiug</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiug</servlet-name>
    <url-pattern>/xiug</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rizhi</servlet-name>
    <servlet-class>test.rizhi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rizhi</servlet-name>
    <url-pattern>/rizhi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tx</servlet-name>
    <servlet-class>test.tx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tx</servlet-name>
    <url-pattern>/tx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tian</servlet-name>
    <servlet-class>test.tian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tian</servlet-name>
    <url-pattern>/tian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jiax</servlet-name>
    <servlet-class>test.jiax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jiax</servlet-name>
    <url-pattern>/jiax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>system.SafeCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/servlet/safecode</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>system.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>